.container-one {
    width: 80px;
    height: 100px;
    background-color: aqua;
    margin: 20px 10px;
    }


.container_two {
    width: 60%;
    height: 200%;
    background-color: blueviolet;
    margin: 50px 20px;
}